/.idea
/vendor/
/test.xml
/.phpunit.result.cache
/clover.xml
docker/build
docker/composer
docker/console
docker/infection
docker/test
docker/images/php-cli/Dockerfile
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
